<div class="container mt-5">
  <h1 class="text-center text-primary">Dailymail Tracker Page Admin</h1>
  <p class="lead text-center text-muted">Control sync, latest data + keywords</p>
  <div class="col text-center">
    <a href="/admin" class="btn btn-primary m-2">Manage Sync</a>
    <a href="/admin/keywords" class="btn btn-warning m-2">Manage Keywords</a>
    <a href="/admin/articles" class="btn btn-success m-2">Manage Articles</a>
    <a href="/admin/rankings" class="btn btn-primary">View Rankings</a>
  </div>
  <hr>
</div>