<div class="container mt-5">
  <h1 class="text-center text-primary">Dailymail Tracker Page Admin</h1>
  <p class="lead text-center text-muted">Control sync, latest data + keywords</p>
  <div class="col text-center">
    <a href="/admin" class="btn btn-primary mr-5">Manage Sync</a>
    <a href="/admin/keywords" class="btn btn-warning mr-5">Manage Keywords</a>
    <a href="/admin/articles" class="btn btn-success">Manage Articles</a>
  </div>
  <hr>
</div>