<nav class="nav mt-4">
  <a href="/" class="nav-item <%- active === 'home' ? 'is-active' : '' %>">HOME</a>
  <a href="/about" class="nav-item <%- active === 'about' ? 'is-active' : '' %>">ABOUT</a>
  <span class="nav-indicator"></span>
</nav>