<a href="https://www.facebook.com/dailymailwordoftheday" target="_blank" class="fa fa-facebook social"></a>
<a href="#" target="_blank" class="fa fa-twitter social"></a>
<a href="#" target="_blank" class="fa fa-instagram social"></a>