<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script language="javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" />

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>Dailymail Favourite Words</title>
  </head>

  <body id="body d-flex justify-content-center">
    <%- include('partials/menu', {active: "about" }) %>

      <div class="container col-xs-4 col-md-8 col-lg-6 
      bg-transparent">

        <div class="card-copy">
          <h4 class="header">Why do we need a dailymail word of the day?</h5>
            <p class="normal-copy">
              Well, we don't really. But we thought it would be fun to track the recurring misogyny, racism, and
              z-listers
              they publish everyday with the express goal of getting you to click more ads. They do
              this by trying to instill a fear of foreigners or the "radical left". If that fails, they fall back on
              enticing you in via the eyepopping displays of the ample assets of a woman who flaunted them
              right in front of a telescopic lens, 2km away in a bush.
            </p>
        </div>
      </div>
  </body>

</html>