.dt-nav {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .dt-nav .dt-options {
    width: 50%;
    display: flex;
    flex-direction: row;
    text-align: center; }
    .dt-nav .dt-options a {
      display: inline-block;
      width: 25%;
      padding: 0.75rem 0;
      margin: 0;
      text-decoration: none;
      color: #333; }

.two:hover ~ #active-option {
  background-color: blue;
  margin-left: 25%; }

.three:hover ~ hr {
  margin-left: 50%; }

.four:hover ~ hr {
  margin-left: 75%; }

hr {
  height: 0.35rem;
  width: 2rem;
  margin: 0;
  background: tomato;
  border: none;
  transition: 0.3s ease-in-out; }

#body {
  background: #06d6a0ff; }
