@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;600&display=swap");
* {
  box-sizing: border-box; }

body {
  text-align: center;
  background-color: white;
  font-family: 'Doris', sans-serif; }

.nav {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  max-width: 100%; }

.nav-item {
  font-size: 20px;
  color: white;
  padding: 20px;
  text-decoration: none;
  margin: 0 10px;
  z-index: 1;
  position: relative;
  color: #305f79;
  text-decoration: none; }
  .nav-item:before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #3e7c9e;
    opacity: 0; }
  .nav-item.is-active:before {
    opacity: 1;
    bottom: 0;
    background-color: #305f79; }
  .nav-item:hover:before {
    opacity: 1;
    bottom: 0; }
  .nav-item:hover {
    text-decoration: none;
    color: #3e7c9e; }
    .nav-item:hover.is-active {
      color: #305f79; }

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  transition: 3.4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0; }

.header {
  font-family: sans-serif;
  font-weight: 300 !important;
  color: #305f79 !important; }

.card-copy {
  background-color: #fcfcfc;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 8px; }
  @media (min-width: 768px) {
    .card-copy {
      padding-left: 12%;
      padding-right: 12%; } }
  @media (max-width: 991.98px) {
    .card-copy {
      padding-left: 4%;
      padding-right: 4%; } }
  .card-copy hr.short {
    background-color: #305f79;
    width: 160px; }
  .card-copy p {
    text-align: left;
    margin-top: 1rem; }

.card-text {
  font-weight: 300;
  color: #1a2c42;
  text-align: left; }

.word-of-the-day {
  margin-top: 2rem;
  font: 3.4rem Doris, Serif;
  font-weight: 300; }
  @media (min-width: 768px) {
    .word-of-the-day {
      font: 7rem Doris, Serif; } }

.home-article-image {
  width: 100%;
  height: 100%; }

.article-separator {
  width: 40%; }

.last-item-gone hr:last-of-type {
  display: none; }

.social {
  margin: 1rem 1rem 1rem 1rem;
  font-size: 1.6em !important;
  text-decoration: none !important; }

.card-link {
  color: #1a2c42 !important; }

.fa-facebook {
  color: #3b5998; }

.fa-twitter {
  color: #1da1f2; }

.fa-instagram {
  color: #e1306c; }
