@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;600&display=swap');
@import '../../node_modules/bootstrap/scss/functions.scss';
@import '../../node_modules/bootstrap/scss/_variables.scss';
@import '../../node_modules/bootstrap/scss/mixins';

$background-color: white;
$nav-item-selected: #305f79;
$nav-item-hover: lighten(
  $color: $nav-item-selected,
  $amount: 10%,
);
$card-background: darken(#ffffff, 1%);
$card-header-text: #305f79;
$card-text: #1a2c42;

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: $background-color;
  font-family: 'Doris', sans-serif;
}

.nav {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.nav-item {
  font-size: 20px;
  color: white;
  padding: 20px;
  text-decoration: none;
  margin: 0 10px;
  z-index: 1;
  position: relative;
  color: $nav-item-selected;
  text-decoration: none;

  &:before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: $nav-item-hover;
    opacity: 0;
  }

  &.is-active:before {
    opacity: 1;
    bottom: 0;
    background-color: $nav-item-selected;
  }

  &:hover:before {
    opacity: 1;
    bottom: 0;
  }

  &:hover {
    text-decoration: none;
    color: $nav-item-hover;
    &.is-active {
      color: $nav-item-selected;
    }
  }
}

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  transition: 3.4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

.header {
  font-family: sans-serif;
  font-weight: 300 !important;
  color: $card-header-text !important;
}

.card-copy {
  background-color: $card-background;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 8px;

  @include media-breakpoint-up(md) {
    padding-left: 12%;
    padding-right: 12%;
  }

  @include media-breakpoint-down(md) {
    padding-left: 4%;
    padding-right: 4%;
  }

  hr {
    &.short {
      background-color: $card-header-text;
      width: 160px;
    }
  }

  p {
    text-align: left;
    margin-top: 1rem;
  }
}

.card-text {
  font-weight: 300;
  color: $card-text;
  text-align: left;
}

.word-of-the-day {
  margin-top: 2rem;
  font: 3.4rem Doris, Serif;
  font-weight: 300;

  @include media-breakpoint-up(md) {
    font: 7rem Doris, Serif;
  }
}

.home-article-image {
  width: 100%;
  height: 100%;
}

.article-separator {
  width: 40%;
}

.last-item-gone hr:last-of-type {
  display: none;
}

.social {
  margin: 1rem 1rem 1rem 1rem;
  font-size: 1.6em !important;
  text-decoration: none !important;
}

.card-link {
  color: $card-text !important;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-instagram {
  color: #e1306c;
}
